*{
    margin:0;
    padding: 0;
}

body {
	overflow-x: hidden; /*--right gutter fix--*/

}
.navbar-brand img{
  height: 4rem;
}

.nav-item{
  font-size: 14px;
  width: 165px;

}
.nav-link{
    font-family: 'Allerta Stencil', sans-serif;

}
.lang{
    margin-top: 3px;
}
.language{
  padding: 0 5px;
}
.language:hover{
  color: darkgrey;
  text-decoration: none;
}
.flag{
    width: 25px;
    height: 18px;
}

.load{
    animation: slide 2s;
}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 20s infinite;  
}
.content{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.principal{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
}
.principal h1{
    font-size: 69px;
    margin-bottom: 20px;
    font-family: 'Allerta Stencil', sans-serif;
}




.line {
    width: 24em;
    top:50%;
    margin:auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from{
        width: 0;
    }
    to {
        width: 8em;
    }
}
.principal p{
    margin-bottom: 50px;
    font-family: 'Allerta Stencil', sans-serif;
}
@keyframes slide{
    0%{
        background-image: url('assets/img/r7.jpg');
    }
    20%{
        background-image: url('assets/img/r7.jpg');
    }
    20.01%{
        background-image: url('assets/img/2.jpg');
    }
    40%{
        background-image: url('assets/img/2.jpg');
    }
    40.01%{
        background-image: url('assets/img/3.jpg');
    }
    60%{
        background-image: url('assets/img/3.jpg');
    }
    60.01%{
        background-image: url('assets/img/r4.jpg');
    }
    80%{
        background-image: url('assets/img/r4.jpg');
    }
    80.01%{
        background-image: url('assets/img/5.jpeg');
    }
    100%{
        background-image: url('assets/img/5.jpeg');
    }
    
}

.details{
    border: 1px solide grey; 
    border-radius: 5px;
    color: white;
    background: rgba(76, 175, 80, 0.3);
    padding: 10px 15px 10px 15px;

}
.details:hover{
    text-decoration: none;
    color:#fff;
}

.head1{
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #388a12;
}

.head2{
    color: grey;
}

.section{
    background: #d1dfeb;
    padding-top: 50px;
}
.section h4{
    text-align: center;
    font-size: 30px;
    margin-bottom: 29px;
    margin-bottom: 50px;
    font-family: 'Allerta Stencil', sans-serif;
    color: #388a12;
}
.project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}

.image{
    height: 180px;
    width: 350px;
    border-radius: 4px;
}

.city{
    font-family: 'Allerta Stencil', sans-serif;
    color: #388a12;
    margin-top: 20px;
    color: grey;
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
}
.city:hover{
    color: #388a12; 
    cursor: pointer;

}
@media(max-width: 1250px) {
  .project{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
   }
   .image{
    height: 260px;
    width: 500px;
    
    border-radius: 4px;
}

}


@media(max-width: 840px) {
  .language_options{    
    margin-top: 20px;
     padding: 5px 15px 5px 15px;
  }
  .image{
    height: 180px;
    width: 350px;
    border-radius: 4px;
  }

}

@media (max-width: 500px){
  .principal h1{
    font-size: 45px;
    margin-top: 20px;
  }
  .principal p{
    font-size: 14px;
  }
  .image{
    height: 150px;
    width: 300px;
    
    border-radius: 4px;
}
.line {
    width: 24em;
    top:50%;
    margin:auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from{
        width: 0;
    }
    to {
        width: 6em;
    }
}
}
@media (max-width: 400px){
    .line{
        margin-top: 20px;
    }
}