
@font-face {
	font-family: normal;
	src:url(../fonts/pantonmtav3-bold.ttf);
}


.nav-link, .head1, .details, .head2{
	font-family: normal;
}

.principal h1{
	font-family: normal;
}
.principal p{
	font-family: normal;
}
.list h5 {
	font-family: normal;
}
.section h4 {
	font-family: normal;
}
p{
	font-family: normal;
}
